.meta-box-title {margin-bottom:.6em}
.meta-box-textarea {width: 100%; height: 150px}
.meta-box-textarea.tall {height: 300px}
.meta-box-input.full-width {width: 100%}
.radio-group > label {
	margin: 0 10px;
	top: -1.5px;
	position: relative;
}
.radio-group > label.featured-checkbox {margin-left: 40px}
.page-meta-checkboxes {display: block; margin-bottom: 5px}
.meta-inline {float:left; width: 50%}
.meta-inline:first-of-type {margin-right:3%; width: 47%}
.meta-inline > input {width: 100%; margin-bottom: 2em}